:80 {
    @django path /about /about/* /alerts /alerts/* /admin /admin/* /static /static/* /auth /auth/ /auth/signin /auth/signin/* /auth/signup /auth/signup/* /auth/forgot /auth/forgot/* /auth/logout /auth/logout/*
    handle @django {
        reverse_proxy django:8000
    }

    handle {
        reverse_proxy chainlit:8001
    }
}
